<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.marques999.acme.store">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CONTROL_KEYGUARD" />

  <application
    android:name=".AcmeStore"
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/mainActivity_title"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".LoginActivity"
      android:theme="@style/AppTheme.Dark">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".views.product.ProductViewActivity"
      android:label="@string/product_activity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".LoginActivity" />
    </activity>
    <activity android:name=".MainActivity" />
    <activity
      android:name=".views.register.RegisterActivity"
      android:label="@string/registerActivity_title">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".LoginActivity" />
    </activity>
    <activity android:name=".views.order.OrderConfirmActivity" />
    <activity
      android:name=".views.order.OrderViewActivity"
      android:label="@string/order_title">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity" />
    </activity>
      <activity android:name=".views.catalog.CatalogProductViewActivity"
          android:label="Product Information">
          <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".MainActivity" />
      </activity>
  </application>
</manifest>